<h1>Topics</h1>
<% if user_is_authorized_for_topics? %>
    <div class="center-block">
        <%= link_to "New Topic", new_topic_path, class: 'btn btn-success' %>
    </div>
<% end %>   
<div class="center-block">
    <div class="center-block">
        <% @topics.each do |topic| %>
            <div class="media">
                <div class="media-body">
                    <h4 class="media-heading">
                        <%= link_to topic.name, topic %>
                    </h4>
                    <small>
                        <%= topic.description %>
                    </small>
                </div>
           </div>
        <% end %>
    </div>
</div>