<h1>New Topic</h1>
 
 <div class="container center-block">
   <div class="center-block">
     <p><span>Guidelines for topics:  </span>1. Make sure the topic is appropriate.  2. Never insult dogs.  3. Smile when you type.</p>

   </div>
   <div class="center-block">
     <%= render partial: 'form', locals: { topic: @topic } %>
   </div>
 </div>