<h1>New Post</h1>

<div class="container center-block">
    <div class="center-block">
        <p><span>Guidelines for posts:  </span>1. Make sure it rhymes.  2. Don't use the letter "A".  3. The incessant use of hashtags will get you banned.</p>
    </div>
    <div class="center-block">
        <%= render partial: 'form', locals: { topic: @topic, post: @post } %>
    </div>
</div>
