// Place all the styles related to the Topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1  {
    padding-bottom: 3rem;
}

.media-body  {
    padding-bottom: 2rem;
}

.posts  {
    max-width: 500px;
}

.button-div  {
    padding-bottom: 3rem;
}

span  {
    font-weight: bold;
}

p  {
    padding-bottom: 3rem;
}